<div>
  <p class="alert alert-dark" id="topic" role="alert">Mightier Students List</p>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <!--Unique Identifier Column -->
    <ng-container matColumnDef="uniqueId">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by uniqueId"
      >
        Unique Identifier
      </th>
      <td mat-cell *matCellDef="let element">{{ element.uniqueId }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by class"
      >
        Class
      </th>
      <td mat-cell *matCellDef="let element">{{ element.class }}</td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by year"
      >
        Year
      </th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>

    <!-- SEN Column -->
    <ng-container matColumnDef="specialEducationalNeeds">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by specialEducationalNeeds"
      >
        Special Educational Needs
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.specialEducationalNeeds }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
